html
  head
    title= title
  body
    h1= header
    div
      form(action='/login', method='post')
        div
          label(for='username') Username:
          input(type='text', name='username')
        div
          label(for='password') Password:
          input(type='text', name='password')
        input(type='submit', value='submit')        
     